body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

.main-body {
    margin: 5% 15%;
}

/* Header Section */
.container1 {
    background-color: #161616;
    border-radius: 30px;
    width: 1321px;
    height: 646px;
}

.header-section {
    display: flex;
}

.header-text {
    margin: 9% 17% 11% 10%;
}

.header-image {
    margin-top: 6.5%;
    margin-right: 8%;
    width: 50%;
}

.header-image img {
    width: 533px;
}

.title {
    color: white;
    font-size: 3em;
}

.description {
    color: white;
    opacity: 0.8;
}

.button {
    text-decoration: none;
    color: aliceblue;
    background-color: crimson;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 rgb(0, 174, 255);
    transition: ease-in .5s;
    outline: none;
}

.button:hover {
    box-shadow: inset 200px 0 0 0 rgb(0, 174, 255);
    cursor: pointer;
    color: black;
}

/* Button Animation */
.animation {
    text-decoration: none;
    color: aliceblue;
    border: 2px solid crimson;
    padding: 10px 15px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.animation:hover {
    cursor: pointer;
    color: white;
}

.animation::before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: crimson;
}

.animation:hover::before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

/* Menu Section */

.container2 {
    margin-top: 13%;
    display: flex;
}

.menu-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #161616;
    border-radius: 10px;
    width: 312px;
    height: 312px;
    padding-top: 2%;
}

.menu-section div {
    padding: 10%;
}

.menu-button {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    background-color: white;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 crimson;
    transition: ease-in .5s;
    outline: none;
}

.menu-button:hover {
    box-shadow: inset 250px 0 0 0 crimson;
    cursor: pointer;
    color: white;
}

.one {
    padding: 5% 15%;
}

.two {
    padding: 5% 30%;
}

.three {
    padding: 5% 40%;
    box-shadow: inset 0 0 0 0 yellow;
    color: white;
    background-color: rgb(97, 20, 220);
}

.three:hover {
    box-shadow: inset 250px 0 0 0 yellow;
    color: black;
}

/* Blog Section */
.blog-section {
    margin-left: 2.4%;
}

.all-blog {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 13%;
}

.single-blog {
    width: 312px;
    height: 362px;
    border: 2px solid rgba(128, 128, 128, 0.09);
    border-radius: 15px;
}

.details {
    padding-left: 5%;
}

.details a {
    text-decoration: none;
    color: #161616;
    border: 2px solid #161616;
    border-radius: 5px;
    padding: 1% 5%;
}

.icon {
    display: flex;
}

.clock,
.chat {
    padding-right: 15px;
}

/* Special Button */
.special {
    padding-left: 45%;
    padding-bottom: 10%;
    visibility: hidden;
}

/* Footer Section */

footer {
    background-color: #161616;
}

footer h1 {
    color: white;
    font-size: 250%;
    text-align: center;
    padding-top: 10%;
}

hr {
    margin: 1% 14%;
    opacity: 0.1;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer span {
    padding: 3%;
    color: #B9B9B9;
}

.fa-brands {
    color: white;
    font-size: xx-large;
    padding: 0 3% 2% 3%;
}

/*-------------
Media Queries 
--------------*/


/* Mobile devices */
@media only screen and (max-width: 668px) {

    /* Header Section */
    .main-body {
        margin: 2%;
    }

    .container1 {
        width: 100%;
    }

    .header-section {
        width: 334px;
        height: 472px;
        flex-direction: column;
    }

    .header-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-left: 13%;
    }

    .title {
        font-size: 2em;
    }

    .header-image img {
        margin: 0;
        width: 131.5%;
        padding-left: 50%;
    }

    /* Menu and Blog Section */
    .menu-section,
    .container2 {
        flex-direction: column;
        padding-left: 5%;
    }

    .menu-section {
        background-color: white;
    }

    .all-blog {
        grid-template-columns: repeat(1, 1fr);

    }

    /* Footer Section */
    .text {
        flex-direction: column;
        align-items: center;
    }

    .fa-brands {
        font-size: medium;
    }
}

/* Tablet devices */
@media only screen and (min-width: 669px) and (max-width: 992px) {

    /* Header Section */
    .main-body {
        margin: 5%;
    }

    .container1 {
        width: 100%;
    }

    .header-section {
        width: 734px;
        height: 398px;
    }

    .header-text {
        margin: 0;
        padding-left: 5%;
        padding-top: 15%;
    }

    .header-image {
        padding-right: 28%;
        padding-top: 29.5%;
    }

    .header-image img {
        width: 250%;
    }

    /* Menu Button */
    .menu-section {
        height: 100%;
        width: 100%;
        flex-direction: row;
        background-color: white;
        margin-top: -13%;
    }


    .menu-button {
        display: inline-block;
    }

    /* Blog Section */
    .container2 {
        width: 100%;
        flex-direction: column;
    }

    .all-blog {
        grid-template-columns: repeat(2, 1fr);
    }

    .hide {
        display: none;
    }

    /* Special Button */
    .special {
        visibility: visible;
    }

    /* Footer Section */
    .text span {
        padding: 2%;
    }

    .fa-brands {
        font-size: medium;
    }
}